@font-face {
    font-family: "Futura New Bold Reg";
    src: url("https://db.onlinewebfonts.com/t/04228ce6698135e3e7891eedbb85cf24.eot");
    src: url("https://db.onlinewebfonts.com/t/04228ce6698135e3e7891eedbb85cf24.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/04228ce6698135e3e7891eedbb85cf24.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/04228ce6698135e3e7891eedbb85cf24.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/04228ce6698135e3e7891eedbb85cf24.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/04228ce6698135e3e7891eedbb85cf24.svg#Futura New Bold Reg")format("svg");
}
@font-face {
font-family: "Futura New Book Reg";
src: local("Futura New Book Reg"), local("Futura-New-Book-Reg"),
    url("FuturaNewBook-Reg.woff2") format("woff2"),
    url("FuturaNewBook-Reg.woff") format("woff"),
    url("FuturaNewBook-Reg.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Futura New Demi Reg";
src: local("Futura New Demi Reg"), local("Futura-New-Demi-Reg"),
    url("FuturaNewDemi-Reg.woff2") format("woff2"),
    url("FuturaNewDemi-Reg.woff") format("woff"),
    url("FuturaNewDemi-Reg.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Futura New Medium Reg";
src: local("Futura New Medium Reg"), local("Futura-New-Medium-Reg"),
    url("FuturaNewMedium-Reg.woff2") format("woff2"),
    url("FuturaNewMedium-Reg.woff") format("woff"),
    url("FuturaNewMedium-Reg.ttf") format("truetype");
font-weight: 500;
font-style: normal;
}
@font-face {
	font-family: "SchoolBook Bold Cyrillic";
	src: url("../fonts/schoolbook-bold-cyrillic/schoolbook-bold-cyrillic.eot"); /* IE9 Compat Modes */
	src: url("../fonts/schoolbook-bold-cyrillic/schoolbook-bold-cyrillic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/schoolbook-bold-cyrillic/schoolbook-bold-cyrillic.otf") format("opentype"), /* Open Type Font */
		url("../fonts/schoolbook-bold-cyrillic/schoolbook-bold-cyrillic.svg") format("svg"), /* Legacy iOS */
		url("../fonts/schoolbook-bold-cyrillic/schoolbook-bold-cyrillic.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/schoolbook-bold-cyrillic/schoolbook-bold-cyrillic.woff") format("woff"), /* Modern Browsers */
		url("../fonts/schoolbook-bold-cyrillic/schoolbook-bold-cyrillic.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "SchoolBook Cyrillic";
	src: url("../fonts/schoolbook-cyrillic/schoolbook-cyrillic.eot"); /* IE9 Compat Modes */
	src: url("../fonts/schoolbook-cyrillic/schoolbook-cyrillic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/schoolbook-cyrillic/schoolbook-cyrillic.otf") format("opentype"), /* Open Type Font */
		url("../fonts/schoolbook-cyrillic/schoolbook-cyrillic.svg") format("svg"), /* Legacy iOS */
		url("../fonts/schoolbook-cyrillic/schoolbook-cyrillic.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/schoolbook-cyrillic/schoolbook-cyrillic.woff") format("woff"), /* Modern Browsers */
		url("../fonts/schoolbook-cyrillic/schoolbook-cyrillic.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}